// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-background {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.bar-button,
.bar-buttons,
.toolbar-title {
    color: #fff;
}



.foto {
    color: #fff;
    font-size: 2.8rem;
    margin-right: 1rem;
}

.toolbar-content {
    display: flex
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item {
        padding: 0;
        width: 50%;
        .item-inner {
            padding: 0;
            border: none;
            .label {
                margin: 0;
            }
        }
    }
}

.badge {
    background: #ff8b00;
}
h2.cor {
  color:  #ff8b00;
}

p {
    color: #8e8e8e;
    font-size: 16px;
}

.swiper-slide img {
    margin: 0 auto;
}

.ligue,
a#whatsapp_topo {
    height: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.ligue {
    margin: 20px 0 20px 0;
    height: 35px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery figure {
    margin: 0 0 10px;
    img {
        border-radius: 8px; 
    }
}

.card {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.item {
    background-color: #F7F7F7;
    p {
        font-size: 1.1rem;
    }
}


.scroll-content,
ion-content.has-refresher > .scroll-content {
    background-color: #F7F7F7;
}

.card-title {
    font-size: 1.6rem;
}

.tabs-md .tab-button-icon {
    color: #939393; 
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #f7931e;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #f7931e;
}

.swiper-pagination-bullet-active {
    background: #f7931e;
    opacity: 1;
}

.scroll-content {
    padding: 0 !important;
  }